﻿ /* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
body {
    background-color: #B5C0D0
}

.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Nunito", sans serif;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.cardDettagli {
    background-color: #f5f0dd;
} 

.wrapper {
    background-color: #F9EFDB;
    color: #3E3232
}

div image {
    /*width: 33%;*/
    /*aspect-ratio: 3/2;*/
    /*object-fit: contain;*/
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
