/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
body {
    background: rgb(40,0,60);
    background: linear-gradient(180deg, rgba(40,0,60,0.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
}

.title {
    font-family: "Aladin", system-ui;
}

.navbar {
    background: linear-gradient(187deg, rgba(31, 36, 39, 10.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    backdrop-filter: blur(10px);
}

.badge {
    background: linear-gradient(187deg, rgba(31, 36, 39, 10.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%) !important;
}

.card-body {
    position: relative;
}

.price-text {
    font-family: "Nunito", sans serif;
    font-size: 1em;
    color: #f5f0dd;
    backdrop-filter: invert(0.5);
    background: linear-gradient(187deg, rgba(31, 36, 39, 10.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%) !important;
    width: fit-content;
    padding-inline: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Nunito", sans serif;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}



.wrapper {
    color: white;
    border: none;
    background-color: transparent;
    backdrop-filter: hue-rotate(45deg);
    box-shadow: 1px 2px 4px -1px rgba(255,255,255,0.3);
    font-family: "MedievalSharp", cursive;
}

div image {
    /*width: 33%;*/
    /*aspect-ratio: 3/2;*/
    /*object-fit: contain;*/
}


/*-------Stile Carrello-------*/
.product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
/*--------------------------*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

/*linear-gradient(180deg, rgba(31, 36, 39, 10.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%)*/

/* modifiche del 22/02 */

/*footer*/
footer {
    color: white;
}

/*btn custom*/
#SvuotaCarrello {
    background-color: #441228 !important;
    color: #ffffff !important;
}

    #SvuotaCarrello:hover {
        background-color: #6d2d4d !important;
        color: #ffffff !important;
    }

.BtnAddCart {
    background: transparent !important;
    color: #ffffff !important;
    border: 1px solid white !important;
}

    .BtnAddCart:hover {
        background: linear-gradient(187deg, rgba(31, 36, 39, 0.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%) !important;
        color: #ffffff !important;
    }


#Dettagli {
    background: transparent !important;
    color: #ffffff !important;
    border: 1px solid white !important;
}

    #Dettagli:hover {
        background: linear-gradient(187deg, rgba(31, 36, 39, 0.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%) !important;
        color: #ffffff !important;
    }

#Login {
    background: linear-gradient(187deg, rgba(31, 36, 39, 0.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%) !important;
}

    #Login:hover {
        background: black !important;
        color: #ffffff !important;
    }

.btnLogin {
    background: transparent !important;
    color: #ffffff !important;
    border: 1px solid white !important;
}

    .btnLogin:hover {
        background: linear-gradient(187deg, rgba(31, 36, 39, 0.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%) !important;
        color: #ffffff !important;
    }

#Logout {
    background-color: transparent;
}

    #Logout:hover {
        background-color: black;
        color: white;
    }

.BtnMin, .BtnPlus {
    background: transparent !important;
    color: #ffffff !important;
    border: 1px solid white !important;
}
    
        .BtnMin:hover, .BtnPlus:hover {
            background: linear-gradient(187deg, rgba(31, 36, 39, 0.8981967787114846) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%) !important;
            color: #ffffff !important;
        }

/*font*/

#MainContent_demo, .aladinH2 {
    font-family: "Aladin", system-ui;
    color: white;
}

.detail-font {
    font-family: "Nunito", sans serif;
    
}
